<settings>
<category label="General">
     <setting id="Username" type="text" label="Username" default=""/>
     <setting id="Password" type="text" option="writeable,hidden" label="Password" default=""/>
	 <setting id="note" type="text" label="Note:" default="To Complete Log In Click Clear Cache!"/>
</category>
</settings>